/* Breakpoints */
@media (max-width: 768px) {
    .flex {
        flex-wrap: wrap;
    }

    .mockup > .flex {
        flex-wrap: wrap-reverse;
    }

    .text-left,
    .banner-right {
        width: 100%;
        text-align: center;
    }

    .text-left h1 {
        font-size: 35px;
    }

    .text-left button {
        margin-bottom: 20px;
    }

    .why-choose h2,
    .last-articles h2 {
        font-size: 30px;
    }

    .why-choose {
        text-align: center;
    }

    .diff-box {
        width: calc(100% / 2);
    }

    .last-articles {
        text-align: center;
    }

    .last-articles h2 {
        margin: 0 auto;
    }

    .article {
        width: 100%;
    }

    .footer-items {
        flex-direction: column;
        gap: 25px;
    }

    .links {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .rights {
        text-align: center;
    }

    .rights p {
        margin-top: 20px;
    }

    /* Menu Mobile */
    header {
        padding: 24px 0;
    }

    header .menu-items,
    .request-btn {
        display: none;
    }

    header .menu-mobile {
        display: block;
    }

    .menu-mobile img {
        cursor: pointer;
        width: 36px;
    }

    .items-menu-mobile {
        position: fixed;
        top: -100%;
        right: 0;
        width: 100%;
        text-align: center;
        padding: 20px 0;
        background-color: #fff;
        transition: all 0.3s ease-in-out;
    }

    .items-menu-mobile a {
        display: block;
        margin-top: 15px;
        color: hsl(233, 26%, 24%);
    }
}

@media (max-width: 575px) {
    .diff-box {
        width: 100%;
    }
}
